
.buttonLeng {
  background-color: transparent; 
  border: none; 
  font-size: 16px; 
  cursor: pointer; 
  color: var(  --text-white-color);
  outline: none; 
  font-weight: bold;
}

.active {
   color: var( --color-fone); 

}
