
.buttonLeng {
  background-color: transparent; 
  border: none; 
  padding: 5px 10px; 
  font-size: 20px; 
  cursor: pointer; 
  color: var( --text-black-color);
  outline: none; 
  font-weight: bold;
}

.active {
   color: var( --blue-fone); 

}
