
.container{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    

}

.headerContainer {

  display: flex;
  justify-content: space-between;
  margin: 16px 100px;

}



.containerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navContainer {
  padding-top: 40px;
}


.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #ffffff5b 0%, #2d85c4cc 49.98%, #ffffff50 99.88%);

}

.listMenu {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;

}

.headerLink {
  font-family: var( --my-font-family);
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  color: var(--disabled) ;
  text-decoration: none;
  white-space: nowrap;

}
.headerLink:hover {
  color: var(--text-white-color);
}


.active {
  font-family: var( --my-font-family);
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
  text-decoration: none;
  white-space: nowrap;
  /* color: transparent;
  background: linear-gradient(90deg, #ffffff5b, #2d85c4cc, #ffffff50); 
  background-clip: text;  */
  color: var(--text-white-color);

}

