/* .container {

  padding: 16px 100px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  position: relative;
  z-index: 1000;
  position: fixed;
  top: 0;
  width: 100%;

} */
/* .container {
  padding: 16px 100px;

  top: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 1000;
  max-width: 1800px; 
  margin: 0 auto; 
} */
.container{
    position: fixed;
    width: 100%;
    height: auto;
    z-index: 1000;
    

}
.headerContainer {
   /* padding: 16px 100px;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1000;
  max-width: 1800px; 
  margin: 0 auto;  */
  display: flex;
  justify-content: space-between;
  margin: 16px 100px;

}



.containerRight {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
}

.navContainer {
  padding-top: 40px;
}


.header::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background: linear-gradient(270deg, #ffffff5b 0%, #2d85c4cc 49.98%, #ffffff50 99.88%);

}

.listMenu {
  display: flex;
  gap: 40px;
  list-style: none;
  margin: 0;

}

.headerLink {
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
  font-size: 20px;
  font-weight: bold;
  color: var(--text-white-color); /* Колір тексту */
  text-decoration: none;
  white-space: nowrap;

}


.active {
  font-family: 'Helvetica Neue';
  letter-spacing: 2px;
  font-weight: bold;
  font-size: 20px;
   color: #2d85c4; 
  /* text-shadow: -1px -1px 0 #f3e9b5,  
               1px -1px 0 #f3e9b5,
              -1px  1px 0 #f3e9b5,
               1px  1px 0 #f3e9b5;  */
  text-decoration: none;
  white-space: nowrap;
  /* border-bottom: 2px solid #2d85c4; */
}
