.container{
padding: 16px 100px;
z-index: 100;
position: relative;
height: 100px;
/* background-color: white; */

}
/* svg{
width: 20px;
height: 20px;

}  */

.social {
  width: 30px;
  height: 30px;
  display: flex;
  /* background-color: white; */

 
}

.social:hover {
  background-color:var(--color-fone); 
  transform: scale(1.1); 
  color: var( --text-white-color);
}
.social:hover use{
  fill: var( --text-white-color);

}
.scrollToTopButton {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 50px;
  height: 110px;
  margin-bottom: 10px;
  border: none;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 1000; 
   writing-mode: vertical-rl; 

 font-family: var(--my-font-family);
    letter-spacing: 2px;
    font-size: 15px;
    font-weight: bold;
    color: var( --text-white-color);

}
.buttonTop{

  width: 80px; 
  height: 90px; 
  stroke: var( --text-white-color);

}
.buttonTop:hover{
    stroke: var( --text-blue-color);

}

