html,
body {

  /* background-image: url(./assets/img/gray-background.png);
  background-repeat: no-repeat; 
  background-size: cover;  */
  background: linear-gradient(to bottom, #1e1e1e 0%, #333333 100%);

  margin: 0;
  
 
}
.content, .hero, .main-header, .galerry > *{
  will-change: transform;

}


h1, h2, h3, h4, h5 {

  font-family: var(--my-font-family);
  
}
 /* h2{
   font-family: 'Qwigley', cursive;
       font-size: calc(var(--indedx)* 2);
 } */

#root {
  
  width: 100%;
  margin: 0 auto 0 auto;
  max-width: 1800px;
  overflow-x: hidden;


 
   
}
:root {
  --indedx: calc(1vw + 1vh);
  --my-font-family: 'Helvetica Neue', Arial, sans-serif;
  --text-white-color: #f4efec; 
  --text-blue-color:#2d85c4;
  --color-fone: #cdc6c3;
  --white: #ffffff;
  --gallery-gap: calc(var(--indedx) * 8);
  --disabled: #ffffff84;

}

